In [1]:
import pandas as pd
import datetime as dt

In [15]:
bd1 = dt.date(2000,10,12)

In [16]:
bd1.year

2000

In [17]:
bd1.month

10

In [18]:
bd1.day

12

In [23]:
bd = dt.datetime(2000,10,12,8,18,30)

In [24]:
str(bd)

'2000-10-12 08:18:30'

In [28]:
print (bd.year)
print (bd.month)
print (bd.day)
print (bd.hour)
print (bd.minute)
print (bd.second)

2000
10
12
8
18
30

# Pandas Timestamp Object

In [30]:
pd.Timestamp("2015-3-31")

Timestamp('2015-03-31 00:00:00')

In [31]:
pd.Timestamp("2015/3/31")

Timestamp('2015-03-31 00:00:00')

In [33]:
pd.Timestamp("3/31/2015")

Timestamp('2015-03-31 00:00:00')

In [34]:
pd.Timestamp("2015-3-31 8:35:15")

Timestamp('2015-03-31 08:35:15')

In [35]:
pd.Timestamp("2015-3-31 8:35:15 PM")

Timestamp('2015-03-31 20:35:15')

In [37]:
pd.Timestamp(dt.date(2000,10,12))

Timestamp('2000-10-12 00:00:00')

In [39]:
pd.Timestamp(dt.datetime(2000,10,12,8,18,25))

Timestamp('2000-10-12 08:18:25')

# Pandas DateTime Index Object

In [40]:
dates =["2011-2-23","2011-04-21","2011-06-07"]

In [41]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2011-02-23', '2011-04-21', '2011-06-07'], dtype='datetime64[ns]', freq=None)

In [42]:
dates = [dt.date(2013,2,21),dt.date(2014,2,11),dt.date(2012,1,12)]

In [44]:
dtIndex = pd.DatetimeIndex(dates)

In [45]:
values =[100,200,300]
pd.Series(data=values,index=dtIndex)

2013-02-21    100
2014-02-11    200
2012-01-12    300
dtype: int64

# The pd.to_datetime() Method

In [46]:
pd.to_datetime("2001-4-19")

Timestamp('2001-04-19 00:00:00')

In [47]:
pd.to_datetime(dt.date(2000,1,1))

Timestamp('2000-01-01 00:00:00')

In [48]:
pd.to_datetime(dt.datetime(2015,1,1,14,35,20))

Timestamp('2015-01-01 14:35:20')

In [49]:
pd.to_datetime(["2015-1-3","2013-12-12"])

DatetimeIndex(['2015-01-03', '2013-12-12'], dtype='datetime64[ns]', freq=None)

In [50]:
times=pd.Series(["2013-01-3","2014/02/09","2016","July 4th,1996"])

In [51]:
pd.to_datetime(times)

0   2013-01-03
1   2014-02-09
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [52]:
dates =pd.Series(["2013-01-3","2014/02/09","2016","July 4th,1996"])

In [53]:
dates

0        2013-01-3
1       2014/02/09
2             2016
3    July 4th,1996
dtype: object

In [55]:
dates1 =pd.Series(["2013-01-3","2014/02/09","2016","Hello","July 4th,1996"])

In [56]:
pd.to_datetime(dates,errors="coerce")

0   2013-01-03
1   2014-02-09
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [58]:
pd.to_datetime([134242342,134923424,12313131,1231232,12312313],unit="s")

DatetimeIndex(['1974-04-03 17:32:22', '1974-04-11 14:43:44',
               '1970-05-23 12:18:51', '1970-01-15 06:00:32',
               '1970-05-23 12:05:13'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with pd.date_range() Method

In [60]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [61]:
times =pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

In [62]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [63]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [64]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [65]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="1D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="B")  #Business days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [68]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="W")  #Sunday days

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [70]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="W-FRI")  #Sunday days

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [71]:
pd.date_range(start="2016-01-01",end="2016-01-15",freq="H")  #Hour

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [72]:
pd.date_range(start="2016-01-01",end="2016-12-15",freq="M")  #Month Ends

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [73]:
pd.date_range(start="2016-01-01",end="2016-12-15",freq="MS")  #Month Starts

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [74]:
pd.date_range(start="2016-01-01",end="2051-12-15",freq="A")  #Year End

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [76]:
pd.date_range(start="2012-09-09",periods=25,freq="D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range(start="2012-09-09",periods=25,freq="W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [78]:
pd.date_range(start="2012-09-09",periods=25,freq="H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [79]:
pd.date_range(end="1999-12-20",periods=25,freq="D")

DatetimeIndex(['1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(end="1999-12-20",periods=25,freq="B")

DatetimeIndex(['1999-11-16', '1999-11-17', '1999-11-18', '1999-11-19',
               '1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-29', '1999-11-30', '1999-12-01',
               '1999-12-02', '1999-12-03', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-13',
               '1999-12-14', '1999-12-15', '1999-12-16', '1999-12-17',
               '1999-12-20'],
              dtype='datetime64[ns]', freq='B')

In [81]:
pd.date_range(end="1999-12-20",periods=25,freq="W")

DatetimeIndex(['1999-07-04', '1999-07-11', '1999-07-18', '1999-07-25',
               '1999-08-01', '1999-08-08', '1999-08-15', '1999-08-22',
               '1999-08-29', '1999-09-05', '1999-09-12', '1999-09-19',
               '1999-09-26', '1999-10-03', '1999-10-10', '1999-10-17',
               '1999-10-24', '1999-10-31', '1999-11-07', '1999-11-14',
               '1999-11-21', '1999-11-28', '1999-12-05', '1999-12-12',
               '1999-12-19'],
              dtype='datetime64[ns]', freq='W-SUN')

In [82]:
pd.date_range(end="1999-12-20",periods=25,freq="M")

DatetimeIndex(['1997-11-30', '1997-12-31', '1998-01-31', '1998-02-28',
               '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30',
               '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31',
               '1998-11-30', '1998-12-31', '1999-01-31', '1999-02-28',
               '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30',
               '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31',
               '1999-11-30'],
              dtype='datetime64[ns]', freq='M')

In [83]:
pd.date_range(end="1999-12-20",periods=25,freq="A")

DatetimeIndex(['1974-12-31', '1975-12-31', '1976-12-31', '1977-12-31',
               '1978-12-31', '1979-12-31', '1980-12-31', '1981-12-31',
               '1982-12-31', '1983-12-31', '1984-12-31', '1985-12-31',
               '1986-12-31', '1987-12-31', '1988-12-31', '1989-12-31',
               '1990-12-31', '1991-12-31', '1992-12-31', '1993-12-31',
               '1994-12-31', '1995-12-31', '1996-12-31', '1997-12-31',
               '1998-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [84]:
pd.date_range(end="1999-12-20",periods=25,freq="H")

DatetimeIndex(['1999-12-19 00:00:00', '1999-12-19 01:00:00',
               '1999-12-19 02:00:00', '1999-12-19 03:00:00',
               '1999-12-19 04:00:00', '1999-12-19 05:00:00',
               '1999-12-19 06:00:00', '1999-12-19 07:00:00',
               '1999-12-19 08:00:00', '1999-12-19 09:00:00',
               '1999-12-19 10:00:00', '1999-12-19 11:00:00',
               '1999-12-19 12:00:00', '1999-12-19 13:00:00',
               '1999-12-19 14:00:00', '1999-12-19 15:00:00',
               '1999-12-19 16:00:00', '1999-12-19 17:00:00',
               '1999-12-19 18:00:00', '1999-12-19 19:00:00',
               '1999-12-19 20:00:00', '1999-12-19 21:00:00',
               '1999-12-19 22:00:00', '1999-12-19 23:00:00',
               '1999-12-20 00:00:00'],
              dtype='datetime64[ns]', freq='H')

# The .dt Accessor

In [86]:
dates = pd.date_range(start = "2000-01-01",end="2010-12-31",freq="24D")

In [87]:
s=pd.Series(dates)

In [88]:
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [89]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [90]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
5       4
6       5
7       6
8       7
9       8
10      8
11      9
12     10
13     11
14     12
15     12
16      1
17      2
18      3
19      4
20      4
21      5
22      6
23      7
24      7
25      8
26      9
27     10
28     11
29     11
       ..
138     1
139     2
140     3
141     4
142     5
143     5
144     6
145     7
146     8
147     8
148     9
149    10
150    11
151    12
152    12
153     1
154     2
155     3
156     4
157     4
158     5
159     6
160     7
161     7
162     8
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [91]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [94]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

# Import Financial dataset eith pandas_datareader Library

In [2]:
import pandas as pd
import datetime as dt   #data.DataReader(name=company,data_source="google",start=start,end=end)
from pandas_datareader import data,wb
import pandas_datareader as pdr
stocks = pdr.get_data_fred('GS10')

In [3]:
stocks

            GS10
DATE
2010-01-01  3.73
2010-02-01  3.69
2010-03-01  3.73
2010-04-01  3.85
2010-05-01  3.42
2010-06-01  3.20
2010-07-01  3.01
2010-08-01  2.70
2010-09-01  2.65
2010-10-01  2.54
2010-11-01  2.76
2010-12-01  3.29
2011-01-01  3.39
2011-02-01  3.58
2011-03-01  3.41
2011-04-01  3.46
2011-05-01  3.17
2011-06-01  3.00
2011-07-01  3.00
2011-08-01  2.30
2011-09-01  1.98
2011-10-01  2.15
2011-11-01  2.01
2011-12-01  1.98
2012-01-01  1.97
2012-02-01  1.97
2012-03-01  2.17
2012-04-01  2.05
2012-05-01  1.80
2012-06-01  1.62
...          ...
2016-12-01  2.49
2017-01-01  2.43
2017-02-01  2.42
2017-03-01  2.48
2017-04-01  2.30
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21
2017-09-01  2.20
2017-10-01  2.36
2017-11-01  2.35
2017-12-01  2.40
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91
2018-07-01  2.89
2018-08-01  2.89
2018-09-01  3.00
2018-10-01  3.15
2018-11-01  3.12
2018-12-01  2.83
2019-01-01  2.71
2019-02-01  2.68
2019-03-01  2.57
2019-04-01  2.53
2019-05-01  2.40

[113 rows x 1 columns]

# Selecting a DataFrame with a DateTimeIndex

In [5]:
stocks.loc["2014-01-01"]

GS10    2.86
Name: 2014-01-01 00:00:00, dtype: float64

In [6]:
stocks.iloc[100]

GS10    2.98
Name: 2018-05-01 00:00:00, dtype: float64

In [7]:
stocks.ix["2010-01-01"]

C:\Users\Raghav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

GS10    3.73
Name: 2010-01-01 00:00:00, dtype: float64

In [8]:
stocks.loc["2010-01-01" : "2010-10-01"]

            GS10
DATE
2010-01-01  3.73
2010-02-01  3.69
2010-03-01  3.73
2010-04-01  3.85
2010-05-01  3.42
2010-06-01  3.20
2010-07-01  3.01
2010-08-01  2.70
2010-09-01  2.65
2010-10-01  2.54

In [9]:
stocks.ix["2010-01-01" : "2010-10-01"]

C:\Users\Raghav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            GS10
DATE
2010-01-01  3.73
2010-02-01  3.69
2010-03-01  3.73
2010-04-01  3.85
2010-05-01  3.42
2010-06-01  3.20
2010-07-01  3.01
2010-08-01  2.70
2010-09-01  2.65
2010-10-01  2.54

In [11]:
bdays = pd.date_range(start="2010-01-01",end="2019-01-01",freq=pd.DateOffset(years=1))

In [14]:
mask =stocks.index.isin(bdays)

In [15]:
stocks.loc[mask]

            GS10
DATE
2010-01-01  3.73
2011-01-01  3.39
2012-01-01  1.97
2013-01-01  1.91
2014-01-01  2.86
2015-01-01  1.88
2016-01-01  2.09
2017-01-01  2.43
2018-01-01  2.58
2019-01-01  2.71

# Timestamp Object attributes

In [23]:
import pandas as pd
import datetime as dt
from pandas_datareader import data,wb
#company="MSFT"
#start="2010-01-01"
#end="2017-12-31"
#data.DataReader(name=company,data_source="google",start=start,end=end)

ImmediateDeprecationError:
Google finance has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [24]:
import pandas_datareader as pdr
stocks = pdr.get_data_fred('GS10')

In [28]:
someday = stocks.index[2]

In [29]:
someday

Timestamp('2010-03-01 00:00:00')

In [30]:
someday.day

1

In [31]:
someday.month

3

In [33]:
someday.is_month_start

True

In [34]:
stocks.insert(0,"Day of Week",stocks.index.weekday_name)

In [35]:
stocks.head()

           Day of Week  GS10
DATE
2010-01-01      Friday  3.73
2010-02-01      Monday  3.69
2010-03-01      Monday  3.73
2010-04-01    Thursday  3.85
2010-05-01    Saturday  3.42

In [36]:
stocks.insert(1,"Is Start of Month",stocks.index.is_month_start)

In [37]:
stocks.head()

           Day of Week  Is Start of Month  GS10
DATE
2010-01-01      Friday               True  3.73
2010-02-01      Monday               True  3.69
2010-03-01      Monday               True  3.73
2010-04-01    Thursday               True  3.85
2010-05-01    Saturday               True  3.42

In [38]:
stocks[stocks["Is Start of Month"]]

           Day of Week  Is Start of Month  GS10
DATE
2010-01-01      Friday               True  3.73
2010-02-01      Monday               True  3.69
2010-03-01      Monday               True  3.73
2010-04-01    Thursday               True  3.85
2010-05-01    Saturday               True  3.42
2010-06-01     Tuesday               True  3.20
2010-07-01    Thursday               True  3.01
2010-08-01      Sunday               True  2.70
2010-09-01   Wednesday               True  2.65
2010-10-01      Friday               True  2.54
2010-11-01      Monday               True  2.76
2010-12-01   Wednesday               True  3.29
2011-01-01    Saturday               True  3.39
2011-02-01     Tuesday               True  3.58
2011-03-01     Tuesday               True  3.41
2011-04-01      Friday               True  3.46
2011-05-01      Sunday               True  3.17
2011-06-01   Wednesday               True  3.00
2011-07-01      Friday               True  3.00
2011-08-01      Monday               True  2.30
2011-09-01    Thursday               True  1.98
2011-10-01    Saturday               True  2.15
2011-11-01     Tuesday               True  2.01
2011-12-01    Thursday               True  1.98
2012-01-01      Sunday               True  1.97
2012-02-01   Wednesday               True  1.97
2012-03-01    Thursday               True  2.17
2012-04-01      Sunday               True  2.05
2012-05-01     Tuesday               True  1.80
2012-06-01      Friday               True  1.62
...                ...                ...   ...
2016-12-01    Thursday               True  2.49
2017-01-01      Sunday               True  2.43
2017-02-01   Wednesday               True  2.42
2017-03-01   Wednesday               True  2.48
2017-04-01    Saturday               True  2.30
2017-05-01      Monday               True  2.30
2017-06-01    Thursday               True  2.19
2017-07-01    Saturday               True  2.32
2017-08-01     Tuesday               True  2.21
2017-09-01      Friday               True  2.20
2017-10-01      Sunday               True  2.36
2017-11-01   Wednesday               True  2.35
2017-12-01      Friday               True  2.40
2018-01-01      Monday               True  2.58
2018-02-01    Thursday               True  2.86
2018-03-01    Thursday               True  2.84
2018-04-01      Sunday               True  2.87
2018-05-01     Tuesday               True  2.98
2018-06-01      Friday               True  2.91
2018-07-01      Sunday               True  2.89
2018-08-01   Wednesday               True  2.89
2018-09-01    Saturday               True  3.00
2018-10-01      Monday               True  3.15
2018-11-01    Thursday               True  3.12
2018-12-01    Saturday               True  2.83
2019-01-01     Tuesday               True  2.71
2019-02-01      Friday               True  2.68
2019-03-01      Friday               True  2.57
2019-04-01      Monday               True  2.53
2019-05-01   Wednesday               True  2.40

[113 rows x 3 columns]

# The .truncate() Method

In [39]:
#Slicing Operations

In [40]:
import pandas_datareader as pdr
stocks = pdr.get_data_fred('GS10')

In [41]:
stocks.head(3)

            GS10
DATE
2010-01-01  3.73
2010-02-01  3.69
2010-03-01  3.73

In [42]:
stocks.truncate(before="2012-01-01",after="2017-01-01")

            GS10
DATE
2012-01-01  1.97
2012-02-01  1.97
2012-03-01  2.17
2012-04-01  2.05
2012-05-01  1.80
2012-06-01  1.62
2012-07-01  1.53
2012-08-01  1.68
2012-09-01  1.72
2012-10-01  1.75
2012-11-01  1.65
2012-12-01  1.72
2013-01-01  1.91
2013-02-01  1.98
2013-03-01  1.96
2013-04-01  1.76
2013-05-01  1.93
2013-06-01  2.30
2013-07-01  2.58
2013-08-01  2.74
2013-09-01  2.81
2013-10-01  2.62
2013-11-01  2.72
2013-12-01  2.90
2014-01-01  2.86
2014-02-01  2.71
2014-03-01  2.72
2014-04-01  2.71
2014-05-01  2.56
2014-06-01  2.60
...          ...
2014-08-01  2.42
2014-09-01  2.53
2014-10-01  2.30
2014-11-01  2.33
2014-12-01  2.21
2015-01-01  1.88
2015-02-01  1.98
2015-03-01  2.04
2015-04-01  1.94
2015-05-01  2.20
2015-06-01  2.36
2015-07-01  2.32
2015-08-01  2.17
2015-09-01  2.17
2015-10-01  2.07
2015-11-01  2.26
2015-12-01  2.24
2016-01-01  2.09
2016-02-01  1.78
2016-03-01  1.89
2016-04-01  1.81
2016-05-01  1.81
2016-06-01  1.64
2016-07-01  1.50
2016-08-01  1.56
2016-09-01  1.63
2016-10-01  1.76
2016-11-01  2.14
2016-12-01  2.49
2017-01-01  2.43

[61 rows x 1 columns]

# The pd.DateOffset Objects

In [48]:
import pandas_datareader as pdr
stocks = pdr.get_data_fred('GS10')

In [49]:
#data.DataReader(name="GOOG",data_source = "google",satrt=dt.date(2000,1,1),end=st.datetime.now())

In [50]:
#import pandas as pd
#import quandl
#import datetime
 
# We will look at stock prices over the past year, starting at January 1, 2016
#start = datetime.datetime(2000,1,1)
#end = datetime.date.today()
 
# Let's get Apple stock data; Apple's ticker symbol is AAPL
# First argument is the series we want, second is the source ("yahoo" for Yahoo! Finance), third is the start date, fourth is the end date
#s = "AAPL"
#apple = quandl.get("WIKI/" + s, start_date=start, end_date=end)
 
#type(apple)

In [55]:
import pandas as pd
import quandl
import datetime
 
start = datetime.datetime(2000,1,1)
end = datetime.date.today()
 
s = "GOOG"
google=quandl.get("WIKI/" + s, start_date=start, end_date=end)
 
type(google)

pandas.core.frame.DataFrame

In [56]:
google.drop([""])

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2014-03-27,568.000,568.0000,552.9200,558.46,13100.0,0.0,1.0,568.000,568.0000,552.9200,558.46,13100.0
2014-03-28,561.200,566.4300,558.6700,559.99,41100.0,0.0,1.0,561.200,566.4300,558.6700,559.99,41100.0
2014-03-31,566.890,567.0000,556.9300,556.97,10800.0,0.0,1.0,566.890,567.0000,556.9300,556.97,10800.0
2014-04-01,558.710,568.4500,558.7100,567.16,7900.0,0.0,1.0,558.710,568.4500,558.7100,567.16,7900.0
2014-04-02,565.106,604.8300,562.1900,567.00,146700.0,0.0,1.0,565.106,604.8300,562.1900,567.00,146700.0
2014-04-03,569.850,587.2800,564.1300,569.74,5085200.0,0.0,1.0,569.850,587.2800,564.1300,569.74,5085200.0
2014-04-04,574.650,577.7700,543.0000,543.14,6351900.0,0.0,1.0,574.650,577.7700,543.0000,543.14,6351900.0
2014-04-07,540.740,548.4800,527.1500,538.15,4389600.0,0.0,1.0,540.740,548.4800,527.1500,538.15,4389600.0
2014-04-08,542.600,555.0000,541.6100,554.90,3142600.0,0.0,1.0,542.600,555.0000,541.6100,554.90,3142600.0
2014-04-09,559.620,565.3700,552.9500,564.14,3321700.0,0.0,1.0,559.620,565.3700,552.9500,564.14,3321700.0
2014-04-10,565.000,565.0000,539.9000,540.95,4025800.0,0.0,1.0,565.000,565.0000,539.9000,540.95,4025800.0
2014-04-11,532.550,540.0000,526.5300,530.60,3914100.0,0.0,1.0,532.550,540.0000,526.5300,530.60,3914100.0
2014-04-14,538.250,544.1000,529.5610,532.52,2568000.0,0.0,1.0,538.250,544.1000,529.5610,532.52,2568000.0
2014-04-15,536.820,538.4500,518.4601,536.44,3844500.0,0.0,1.0,536.820,538.4500,518.4601,536.44,3844500.0
2014-04-16,543.000,557.0000,540.0000,556.54,4879900.0,0.0,1.0,543.000,557.0000,540.0000,556.54,4879900.0
2014-04-17,548.810,549.5000,531.1500,536.10,6790900.0,0.0,1.0,548.810,549.5000,531.1500,536.10,6790900.0
2014-04-21,536.100,536.7000,525.6000,528.62,2559700.0,0.0,1.0,536.100,536.7000,525.6000,528.62,2559700.0
2014-04-22,528.640,537.2300,527.5100,534.81,2358900.0,0.0,1.0,528.640,537.2300,527.5100,534.81,2358900.0
2014-04-23,533.790,533.8700,526.2500,526.94,2046700.0,0.0,1.0,533.790,533.8700,526.2500,526.94,2046700.0
2014-04-24,530.070,531.6500,522.1200,525.16,1878000.0,0.0,1.0,530.070,531.6500,522.1200,525.16,1878000.0
2014-04-25,522.510,524.7000,515.4200,516.18,2094600.0,0.0,1.0,522.510,524.7000,515.4200,516.18,2094600.0
2014-04-28,517.180,518.6000,502.8000,517.15,3326400.0,0.0,1.0,517.180,518.6000,502.8000,517.15,3326400.0
2014-04-29,516.900,529.4600,516.3200,527.70,2691700.0,0.0,1.0,516.900,529.4600,516.3200,527.70,2691700.0
2014-04-30,527.600,528.0000,522.5200,526.66,1746400.0,0.0,1.0,527.600,528.0000,522.5200,526.66,1746400.0
2014-05-01,527.110,532.9300,523.8800,531.35,1900300.0,0.0,1.0,527.110,532.9300,523.8800,531.35,1900300.0
2014-05-02,533.760,533.9999,525.6100,527.93,1683900.0,0.0,1.0,533.760,533.9999,525.6100,527.93,1683900.0
2014-05-05,524.820,528.9000,521.3200,527.81,1021300.0,0.0,1.0,524.820,528.9000,521.3200,527.81,1021300.0
2014-05-06,525.230,526.8100,515.0600,515.14,1684400.0,0.0,1.0,525.230,526.8100,515.0600,515.14,1684400.0
2014-05-07,515.790,516.6800,503.3000,509.96,3215500.0,0.0,1.0,515.790,516.6800,503.3000,509.96,3215500.0
2014-05-08,508.460,517.2300,506.4500,511.00,2015800.0,0.0,1.0,508.460,517.2300,506.4500,511.00,2015800.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-13,1045.000,1058.3700,1044.0900,1052.10,1209341.0,0.0,1.0,1045.000,1058.3700,1044.0900,1052.10,1209341.0
2018-02-14,1048.950,1071.7200,1046.7500,1069.70,1515444.0,0.0,1.0,1048.950,1071.7200,1046.7500,1069.70,1515444.0
2018-02-15,1079.070,1091.4800,1064.3400,1089.52,1777694.0,0.0,1.0,1079.070,1091.4800,1064.3400,1089.52,1777694.0
2018-02-16,1088.410,1104.6700,1088.3100,1094.80,1664969.0,0.0,1.0,1088.410,1104.6700,1088.3100,1094.80,1664969.0
2018-02-20,1090.570,1113.9500,1088.5200,1102.46,1381603.0,0.0,1.0,1090.570,1113.9500,1088.5200,1102.46,1381603.0
2018-02-21,1106.470,1133.9700,1106.3300,1111.34,1493162.0,0.0,1.0,1106.470,1133.9700,1106.3300,1111.34,1493162.0
2018-02-22,1116.190,1122.8200,1102.5900,1106.63,1306276.0,0.0,1.0,1116.190,1122.8200,1102.5900,1106.63,1306276.0
2018-02-23,1112.640,1127.2800,1104.7100,1126.79,1158377.0,0.0,1.0,1112.640,1127.2800,1104.7100,1126.79,1158377.0
2018-02-26,1127.800,1143.9600,1126.6900,1143.75,1492380.0,0.0,1.0,1127.800,1143.9600,1126.6900,1143.75,1492380.0
2018-02-27,1141.240,1144.0400,1118.0000,1118.29,1741578.0,0.0,1.0,1141.240,1144.0400,1118.0000,1118.29,1741578.0
2018-02-28,1123.030,1127.5300,1103.2400,1104.73,1858051.0,0.0,1.0,1123.030,1127.5300,1103.2400,1104.73,1858051.0
2018-03-01,1107.870,1110.1200,1067.0000,1069.52,2515910.0,0.0,1.0,1107.870,1110.1200,1067.0000,1069.52,2515910.0
2018-03-02,1053.080,1082.0000,1048.1200,1078.92,2271551.0,0.0,1.0,1053.080,1082.0000,1048.1200,1078.92,2271551.0
2018-03-05,1075.140,1097.1000,1069.0000,1090.93,1202174.0,0.0,1.0,1075.140,1097.1000,1069.0000,1090.93,1202174.0
2018-03-06,1099.220,1101.8500,1089.7800,1095.06,1532783.0,0.0,1.0,1099.220,1101.8500,1089.7800,1095.06,1532783.0
2018-03-07,1089.190,1112.2200,1085.4800,1109.64,1292537.0,0.0,1.0,1089.190,1112.2200,1085.4800,1109.64,1292537.0
2018-03-08,1115.320,1127.6000,1112.8000,1126.00,1240299.0,0.0,1.0,1115.320,1127.6000,1112.8000,1126.00,1240299.0
2018-03-09,1136.000,1160.8000,1132.4600,1160.04,2074952.0,0.0,1.0,1136.000,1160.8000,1132.4600,1160.04,2074952.0
2018-03-12,1163.850,1177.0500,1157.4200,1164.50,2076306.0,0.0,1.0,1163.850,1177.0500,1157.4200,1164.50,2076306.0
2018-03-13,1170.000,1176.7600,1133.3300,1138.17,1808098.0,0.0,1.0,1170.000,1176.7600,1133.3300,1138.17,1808098.0
2018-03-14,1145.210,1158.5900,1141.4400,1149.49,1192615.0,0.0,1.0,1145.210,1158.5900,1141.4400,1149.49,1192615.0
2018-03-15,1149.960,1161.0800,1134.5400,1149.58,1392521.0,0.0,1.0,1149.960,1161.0800,1134.5400,1149.58,1392521.0
2018-03-16,1154.140,1155.8800,1131.9600,1135.73,2560277.0,0.0,1.0,1154.140,1155.8800,1131.9600,1135.73,2560277.0
2018-03-19,1120.010,1121.9900,1089.0100,1099.82,2339506.0,0.0,1.0,1120.010,1121.9900,1089.0100,1099.82,2339506.0
2018-03-20,1099.000,1105.2000,1083.4600,1097.71,1783872.0,0.0,1.0,1099.000,1105.2000,1083.4600,1097.71,1783872.0
2018-03-21,1092.740,1106.3000,1085.1500,1090.88,1640709.0,0.0,1.0,1092.740,1106.3000,1085.1500,1090.88,1640709.0
2018-03-22,1081.880,1082.9000,1045.9100,1049.08,2580374.0,0.0,1.0,1081.880,1082.9000,1045.9100,1049.08,2580374.0
2018-03-23,1047.030,1063.3600,1021.2200,1021.57,2113497.0,0.0,1.0,1047.030,1063.3600,1021.2200,1021.57,2113497.0
2018-03-26,1046.000,1055.6300,1008.4000,1053.21,2558385.0,0.0,1.0,1046.000,1055.6300,1008.4000,1053.21,2558385.0
2018-03-27,1063.000,1064.8400,996.9200,1005.10,3029471.0,0.0,1.0,1063.000,1064.8400,996.9200,1005.10,3029471.0